@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
  --white: #fff;
  --grey: #e5e5e5;
  --black: #0e0e0e;
  --green:#2ecb22;
  --gray1:#1b1d21;
  --gray2:#222222;
  --grayLetter: #dfe2eb;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: var(--black);
}

.App{
  position: relative;
  width: 100%;
  background-color: var(--green);
}

.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--black);
  transition: 0.5s;
}

.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle{
  position: relative;
  top: 0;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor:pointer;
  transition: 0.2s;
  color: var(--white);
}

.CardsContainer{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: calc(100vh - 60px);
  transition: 0.5s;
}

.search{
  position:relative;
  width:400px;
  margin: 0 auto;
  transition: 0.5s;
}

/* .search.initial{
  position:relative;
  width:400px;
  margin: 0 auto;
} */

.search form{
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--gray2);
  align-items: center;
  border-radius: 40px;
  padding: 5px 20px;
  height: 40px;
}

.search form input{
  position: relative;
  width: 100%;
  outline:none;
  border: none;
  padding-left: 35px;
  font-size: 15px;    
  color:var(--grayLetter);
  background-color: transparent;
}

.search form ion-icon{
  font-size: 1.2em;
  color:var(--grayLetter)
}

.search form button{
  background-color: var(--green);
  border:none;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 40px;
  margin: -5px -20px;
  color: var(--black);
  padding: 5px 20px;;
}

.user{
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.user img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 991px){

  .main{
      width: 100%;
      left: 0;
  }
  .main.active{
      width: calc(100% - 300px);
      left: 300px;
  }
}

@media (max-width: 480px){

  .main.active{
      width: 100%;
      left:0;
  }
  .toggle{
      z-index: 1006;
  }
  .main.active .toggle{
      position: fixed;
      color: var(--black);
      right: 0;
  }
}

