* {
   position: relative;
   box-sizing: border-box;
   padding: 0;
   margin: 0p;
   font-size: 16px;
}

.App{
   background-color: #000;
   min-height: 100vh;
   padding: 20px;}


/* .App {
   text-align: center;
   height: 100vh;
   position: relative;
   padding: 15px 15px;
   margin: 0p;
   
} */



/* .App::before{
   content:'';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -100;
   background: linear-gradient(90deg, rgb(39, 39, 39), rgb(30 49 45));
   padding: 0;
   margin: 0;
   background-color: rgb(26 38 48);
} */
