/* .container{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    gap:20px;
    
} */

.container{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap:30px;
    transition: 2s;
}